html {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(80, 80, 80);
    }

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

h4 {
    font-size: 1.25rem;
}

.uppercase {
    text-transform: uppercase;
}

.main {
    margin-top: 64px;
}

img {
    width: 100%;
    height: auto;
}

/* header */

header {
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 100;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
}

header li {
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
}

.logo img {
    height: 32px;
    width: auto;
}

.textlogo {
    font-weight: 400;
    color: rgb(160, 160, 160);
}

/*  Responsive for smaller screens 
    swich between desktop and mobile */

@media only screen and (min-width: 880px){
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 880px) {
    .desktop {
        display: none;
    }
    
    /* Header Responsive */

    header.mobile nav {
        width: 100%;
    }

    header.mobile ul {
        justify-content: space-around;
        gap: 0;
    }
}


/* Main Page */

.banner {
    width: 100%;
    height: auto;
    /* padding: 32px 0; */
    display: flex;
    /* flex: 1 1 auto; */
    align-items: center;
}

.text {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.greyback {
    background-color: lightgrey;
}

.button {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background-color: rgb(80, 80, 80);
    color: white;
    text-align: center;
}

.left {
    width: 60%;
    padding: 32px 24px;
    border-right-width: 1px;
    border-style: solid;
    border-color: lightgrey;
}


.right {
    width: 40%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

/* Action Banner */

#action.banner img {
    width: 100%;
    height: auto;
}

#action .text {
    width: 75%;    
}

/* Information Banner */

.info {
    /* width: 100%; */
    /* height: auto; */
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
}

.info img {
    width: 35%;
}

.info.first {
    border-bottom-width: 2px;
    border-style: double;
    border-color: lightgrey;
}

.info.third {
    background-color: lightgrey;
}

#information .left img {
    margin-bottom: 32px;
}

#information a {
    color: rgb(86, 176, 236);
}

#information .text {
    gap: 8px;
}

/* Learning Banner */

.courses {
    display: flex;
    justify-content: center;   
    flex-wrap: wrap; 
    padding: 32px 72px;
    gap: 32px;
}

.course {
    flex: 1 1 30%;
    background-color: white;
}

/* .course img {
    height: auto;
} */

.coursetext {
    padding: 16px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#learning.banner {
    flex-direction: column;
    padding-top: 32px;
}

/* Responsive for smaller screens */

@media only screen and (max-width: 880px) {

    .left {
        padding: 0;
        width: 100%;
    }
    
    .button {
        background-color: rgb(140, 140, 140);
        width: 100%;
    }

    /* Action Banner Responnsive */

    #action.banner {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }    

    #action .left img{
        margin: 0;
        /* width: 100%; */
    }    

    #action .right {
        width: 100%;
        margin: 32px 16px;
    }    

    #action .text {
        width: 100%;
        gap: 0;
    }    

    #action h4 {
        margin-bottom: 24px;
        margin-top: 32px;
    }    


    /* Information Banner Responsiver */

    .info {
        align-items: flex-start;
    }
    
    .info.first,
    .info.second,
    .info.third {
        flex-direction: column;
        border-width: 0;
        background-color: white;
    }
    
    #information .left {
        display: none;
    }

    .info img {
        width: 100%;
        height: auto;
    }
        
    #information .right {
        gap: 64px;       
        margin: 0 0 32px 0;
        width: 100%;
    }
    
    #information .text {
        margin-left: 16px;
    }

    /* Learning Banner Responsive */

    .course {
        background-color: lightgrey;
    }

    .course img,
    .course p {
        display: none;
    }

    .courses {
        box-sizing: border-box;
        display: flex;
        justify-content: center;   
        flex-direction: column;
        padding-top: 16px;
        width: 100%;
        gap: 8px;
    }

    .coursetext h3{
        font-size: 1.1rem;
    }
    
    #learning {
        padding: 32px 0;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: lightgrey;
    }
    #learning.greyback {
        background-color: white;
    }
    
}