html {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgb(90, 90, 90);
    background-color: rgb(240, 240, 240);   
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.4rem;
    font-weight: bold;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

a {
    color: rgb(90, 90, 90);

    transition: color 100ms ease-out 50ms;

}

a:hover {
    color: rgb(86, 176, 236);

}

.uppercase {
    text-transform: uppercase;
}

.main {
    max-width: 1400px;
    margin: 16px auto 0;
    background-color: white;
}

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

/* header */

header {
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    z-index: 100;
    display: flex;
    align-items: center;
    
}

header .full {    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

header ul {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

header li {
    list-style: none;
}

header a {
    color: rgb(90, 90, 90);
    transition: color 100ms ease-out 50ms;

}

header a:hover {
    color: rgb(86, 176, 236);
}

.logo {
    display: flex;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
}

.logo img {
    height: 32px;
    width: auto;
}

.textlogo {
    font-weight: 300;
    color: rgb(86, 176, 236);

}


/* Main Page */

.banner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.text {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.greyback {
    background-color: rgb(220, 220, 220);
}

.button {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background-color: rgb(90, 90, 90);
    color: white;
    text-align: center;
    transition: background-color 100ms ease-out 50ms;
}

.button:hover {
    background-color: rgb(86, 176, 236);
}

.left {
    width: 60%;
    margin: 32px 24px;
}


.right {
    width: 40%;
    display: flex;
    flex-direction: column;
}


/* Hero Banner */

#hero.banner {
    width: 100%;
    height: 94vh;
    margin-top: 64px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

#hero.banner::before {
    content: "";
    background-image: url('../images/banner.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

#hero .text {
    position: relative;
    bottom: 100px;
    left: 100px;
    color: black;  
    background-color: rgba(255, 255, 255, 0.6);
    padding: 32px;
    flex: 0 1 40%;
    border-width: 1px;
    border-color: rgba(90, 90, 90, 0.3);
    border-style: solid;
    box-shadow: -8px 5px 12px rgb(90, 90, 90);
}

#hero .button {
    width: 30%;
    background-color: rgb(86, 176, 236);
    transition: none;
    padding: 16px 0;
    box-shadow: -1px 1px 5px rgb(90, 90, 90);
}


/* Action Banner */

#action.banner img {
    width: 100%;
    height: auto;
}

#action .text {
    width: 75%;    
}

/* Information Banner */

.info {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 16px;
}

.info img {
    width: 35%;
}

#information .left {
    border-right-width: 0.5px;
    border-style: solid;
    border-color: lightgrey;
}

#information .info.first {
    border-bottom-width: 3px;
    border-style: double;
    border-color: lightgrey;
}

#information .left img {
    padding-bottom: 32px;
}

#information .text {
    gap: 24px;
}

#information .right {
    margin: 32px 0;
}


/* Learning Banner */

.courses {
    display: flex;
    justify-content: center;   
    flex-wrap: wrap; 
    padding: 32px 72px;
    gap: 32px;
}

.course {
    flex: 1 1 30%;
    background-color: white;
}

.coursetext {
    padding: 16px 16px 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#learning.banner {
    flex-direction: column;
    padding-top: 32px;
}

/* Thesis Banner */

#thesis.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#thesis .banner {
    align-items: flex-start;
}

#thesis .right {
    margin: 32px 0;
}

#thesis.container {
    padding: 32px 0;
}

#thesis .left video {
    padding-bottom: 32px;
}


/* Footer */

footer {
    border-top-width: 0.5px;
    border-style: solid;
    border-color: lightgrey;
    padding: 16px 24px 64px 16px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

footer ul{
    display: flex;
    gap: 16px;
}

footer a {
    color: rgb(90, 90, 90);
}

footer a:hover {
    color: rgb(86, 176, 236);
}


/* ---- Responsive for smaller screens - swich between desktop and mobile ---- */

@media only screen and (min-width: 950px) {

    #action.banner {
        display: none;
    }
}

@media only screen and (max-width: 950px) {

    #hero.banner {
        display: none;
    }

    #information .left,
    #thesis .left {
        width: 50%;
    }

    #information .right,
    #thesis .right {
        width: 50%;
    }

    #action .text {
        width: 100%;    
    }

    #action .right {
        margin-right: 24px;
    }
    
}

@media only screen and (min-width: 690px){
    .mobile {
        display: none;
    }
}


@media only screen and (max-width: 690px) {

    html {
        background-color: white;
    }

    .desktop {
        display: none;
    }
    
    /* Header Responsive */
    
    header.mobile nav {
        width: 100%;
    }
    
    header.mobile ul {
        justify-content: space-around;
        gap: 0;
    }
    
    /* Main Responsive */

    .left {
        margin: 0;
        width: 100%;
    }
    
    /* Action Banner Responnsive */

    .button {
        background-color: rgb(140, 140, 140);
        width: 100%;
    }
    
    #action.banner {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }    
    
    #action .left img{
        margin: 0;
    }    
    
    #action .right {
        width: 100%;
        margin: 32px 16px;
    }    
    
    #action .text {
        width: 100%;
        gap: 0;
    }    
    
    #action h4 {
        margin-bottom: 24px;
        margin-top: 32px;
    }    
    
    
    /* Information Banner Responsive */
    
    .info {
        align-items: flex-start;
    }
    
    .info.first,
    .info.second,
    .info.third {
        flex-direction: column;
        border-width: 0;
        border-style: none;
        background-color: white;
    }
    
    #information .info.first {
        border-bottom-width: 0px;
    }
    
    #information .left {
        display: none;
    }
    
    .info img {
        width: 100%;
        height: auto;
    }
    
    #information .right {
        gap: 64px;       
        margin: 0;
        width: 100%;
    }
    
    #information .text {
        margin-left: 16px;
    }
    
    /* Learning Banner Responsive */
    
    .course {
        background-color: lightgrey;
    }

    .course img,
    .course p {
        display: none;
    }

    .courses {
        box-sizing: border-box;
        display: flex;
        justify-content: center;   
        flex-direction: column;
        padding-top: 16px;
        width: 100%;
        gap: 8px;
    }

    .coursetext h3{
        font-size: 1.1rem;
    }
    
    #learning {
        border-top-width: 0.5px;
        border-bottom-width: 0.5px;
        border-style: solid;
        border-color: lightgrey;
    }
    #learning.greyback {
        background-color: white;
    }
    
    /* Thesis Banner Responsive */

    #thesis .left {
        margin: 16px 0 24px;
        width: 100%;
    }

    #thesis.container {
        padding-bottom: 0;
    }
    
    /* Footer Responsive */

    footer {
        border-top-width: 0.5px;
        border-style: none;
        border-color: lightgrey;
        padding: 16px;
    }    

}

